name: Unit Tests (Python Function)

on:
  workflow_run:
    workflows: [ "Deploy Infra (Bicep)" ]
    types: [ completed ]

jobs:
  test:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest azure-functions

      - name: Run unit tests
        run: |
          pytest -q
